#=============================================================================
# Folders
#=============================================================================

obj
resource_collection
.vscode
inis
*.gba
*.o
MakefileOld
linker_old.ld
lib/*
*.xcf